* {
  font-family: "Lucida Sans";
  text-align: center;
  position: relative;
}

body {
  background-image: repeating-linear-gradient(rgba(238, 127, 37, 0.5),rgba(238, 127, 37, 0.5)), url(../img/pexels-quang-nguyen-vinh-2132008.jpg);
  background-position: auto;
  background-size: cover;
  /* background-repeat: no-repeat; */
}

/* 사이트설명 h2 */
.container h2{
  padding-top: 15%;
  font-size: 35px;
  color: whitesmoke;
  line-height: 55px;
}
#start{
  font-size: 50px;
  padding: 15px;
  background-color: transparent;
}
#start:hover{
  transition: 1.5s;
  background-color: red;
}