* {
  font-family: "Lucida Sans";
  text-align: center;
  position: relative;
}

body {
  background-image: url(../img/pexels-quang-nguyen-vinh-2132008.jpg);
  background-position: auto;
  background-size: cover;
  /* background-repeat: no-repeat; */
}

/* 달력 시간 및 날짜  */
.date {
  position: relative;
  top: 170px;
  font-size: 50px;
  color: rgb(255, 255, 255); /* 흰색 */
}

.time {
  position: relative;
  top: 180px;
  font-size: 150px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

/* 우측 상단 메뉴 */
.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.menu ul li {
  list-style: none;
  padding: 10px;
  font-size: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: dodgerblue;
}
.menu ul li a:hover {
  color: darkorange;
  transition: 1.8s;
}

/* 사이트설명 h2 */
.container h2{
  padding-top: 9%;
  font-size: 35px;
  color: dimgray;
  line-height: 55px;
}